/* Project owned and developed by NoviumNodes */

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.theme-transition {
  transition: background-color 0.3s cubic-bezier(0.16, 1, 0.3, 1), 
              border-color 0.3s cubic-bezier(0.16, 1, 0.3, 1), 
              color 0.3s cubic-bezier(0.16, 1, 0.3, 1),
              box-shadow 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
.dark ::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 99px;
}
::-webkit-scrollbar-thumb {
  background: #e4e4e7;
  border-radius: 99px;
}
.dark ::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}
::-webkit-scrollbar-thumb:hover {
  background: #d4d4d8;
}